<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/> -->
    <!--  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" media="all"/> -->
    <!--  <meta charset=UTF-8"/> -->
    <title>add student</title> <!-- noch anpassen mit Subject-speziefischen Text-->
</head>
<body>
    <div class="container">
        <form th:action="@{/student}" method="post" th:object="${student}" role="form ">
           <!-- <h1 th:text="${student.subject.name}">subject name</h1> -->

            <input th:type="hidden" th:field="*{subjectId}" th:value="${subject.id}" />

            <div class="col-xs-4">
            <label for="name">Student name:</label>
            <input class="form-control" type="text" id="name" th:field="*{name}" required="required" />
            </div>

            <table class="table  table-bordered ">
                <thead>
                    <tr>
                        <th class="col-8">Topicname</th>
                        <th class="col-4">
                            <div class="col-xs-3 text-center">++</div>
                            <div class="col-xs-3 text-center">+</div>
                            <div class="col-xs-3 text-center">-</div>
                            <div class="col-xs-3 text-center">--</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="topic, stat : ${subject.topics}">
                        <td th:text="${topic}">topic name</td>
                        <td>
                            <div class="col-xs-3 text-center"><input type="radio" th:field="*{ratings[__${stat.index}__]}" value="3" name="rating"/></div>
                            <div class="col-xs-3 text-center"><input type="radio" th:field="*{ratings[__${stat.index}__]}" value="2" name="rating"/></div>
                            <div class="col-xs-3 text-center"><input type="radio" th:field="*{ratings[__${stat.index}__]}" value="1" name="rating"/></div>
                            <div class="col-xs-3 text-center"><input type="radio" th:field="*{ratings[__${stat.index}__]}" value="0" name="rating"/></div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <input type="submit" class="btn btn-primary btn-sm" value="..." />
        </form>



    </div>
</body>
</html>