<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <!--  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" th:href="@{/css/stylesheet.css}" media="all"/> -->
    <!--  <meta charset=UTF-8"/> -->
<title>Prof Page</title> <!-- noch anpassen mit Subject-speziefischen Text-->
</head>

<body>
<div class="container">
    <h1 th:text=" ${professor.name}"/>
    <div class="form-group">
        <form th:action="@{/logout}" method="post">
            <div class="form-group ">
                <input type="submit" class="btn btn-primary btn-sm pull-right" value="Logout" />
            </div>
        </form>
    </div>


    <table class="table  table-bordered table-fixed data-link=row">
        <thead>
            <tr>
                <th class="col-md-4">Subject</th>
                <th class="col-md-1">Released</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="subject : ${professor.subjects}" >
                <td th:text="${subject.name}"></td>

                <div th:unless="${subject.released}">
                    <td th:text="${subject.released}" />
                </div>
                <div th:if="${subject.released}">
                    <td th:text="${#lists.size(subject.studentList)} + ' / ' + ${#lists.size(subject.topicsList)}">
                    </td>
                </div>

                <td class="col-md-1">
                    <form th:action="@{/professor/subject(id=${subject.id}) }" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-md" value="Details"/>
                        </div>
                    </form>
                </td>
                <td class="col-md-1">
                    <form th:action="@{/professor/subject/remove(id=${subject.id}) }" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger btn-md" value="Delete"/>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/professor/subject/add }" method="post" >
            <div class="form-group">
                <input type="hidden" name="id" id="id" value="0"/>
                <input type="submit" class="btn btn-primary btn-sm" value="New subject"/>
            </div>
    </form>
</div>
</body>


</html>
